// Copyright 2014 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load ngfilter %}

div(ng-controller="basketsController")
 h1 Baskets
 .col-md-3
  div
     i.glyphicon.glyphicon-plus
   ul.list-group
     div(ng-repeat="it in baskets")
        li.list-group-item(ng-click="showBasket($index)") {{ " it.name " | ng }}
            span.badge {{ " it.length " | ng }}


 .col-md-9
    div(ng-repeat="it in copies")
      div {{ " it.title " | ng }}

{% endblock content %}