// Copyright 2014 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block auto_command_nb %} {{ auto_command_nb }} {% endblock %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load ngfilter %}

if  depo_pubtype
  h3 Dépots externes
    table.table.table-striped.table-hover
    tr
        td {% trans "Nom du dépot" %}
        td {% trans "Diffuseur" %}
        td {% trans "Dernier état de dépôt" %}
        td {% trans "Alertes" %}
        td Initial qty
        td Total price

    for dep in depo_pubtype
      tr
        td
            a(href="{{ dep.get_absolute_url }}") {{ dep.name }}
        td {{ dep.distributor.name }}
        td {{ dep.last_checkout_date }}
        td {{ dep.nb_alerts }}
        td {{ dep.initial_nb_copies }}
        td {{ dep.total_init_price }}

else
  h4 {% trans "Aucun dépôt de type éditeur" %}

if depo_fix
  h3 Dépots de la librairie:
  table.table.table-striped.table-hover
    tr
        td {% trans "Nom du dépot" %}
        td {% trans "Diffuseur" %}
        td {% trans "Dernier état de dépôt" %}

        td {% trans "Alertes" %}
        td {% trans "Initial qty" %}
        td {% trans "Total price" %}

        td {% trans "Due date" %}

    for dep in depo_fix
      tr
        td
            a(href="{{ dep.get_absolute_url }}") {{ dep.name }}
        td {{ dep.distributor.name }}
        td {{ dep.last_checkout_date }}

        td {{ dep.nb_alerts }}
        td {{ dep.init_qty }}
        td {{ dep.total_init_price }}

        td {{ dep.due_date }}

    td
    td
    td

    td
    td
    td {{total_price_fix}}

    td

else
  h4 {% trans "Aucun dépôt de librairie" %}

a.btn.btn-primary(href="{% url 'deposits_new' %}") {% trans "Nouveau dépôt" %}
{% endblock content %}