// Copyright 2014 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block auto_command_nb %} {{ auto_command_nb }} {% endblock %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

a(href="/admin/search/deposit/{{deposit.id}}") {% trans "edit" %}
dl.dl-horizontal
  dt {% trans "Deposit" %}
  dd {{ deposit.name }}
  dt {% trans "Distributor" %}
  dd {{ deposit.distributor }}
  dt {% trans "discount" %}
  dd {{ distributor.discount }} %
  dt {% trans "Deposit type" %}
  dd {{ deposit.deposit_type }}
  dt {% trans "Auto command" %}
  dd {{ deposit.auto_command | yesno:"oui,non"}}
  dt {% trans "Last deposit state" %}
  dd {{ deposit.last_checkout_date }}
  dt {% trans "Alerts" %}
  dd {{ nb_alerts }}

div {% trans "total init" %}: {{ total.total_price_init }}
div {% trans "total sold" %}: {{ total.total_price_sold }}
div {% trans "discount" %}: {{ total.discount }} %
h4  {% trans "to pay" %}: {{ total.total_to_pay }}
div {% trans "margin" %}: {{ total.margin }}

table.table.table-striped.table-hover
    tr
        th {% trans "Title" %}
        th {% trans "price" %}
        th {% trans "qty init" %}
        th {% trans "nb sold" %}
        th {% trans "current qty" %}
    {% if card_balance|length = 0 %}
    div nop !
    {% endif %}
    for key, bal in cards_balance
      tr
        td  {{ key.title }}
        td  {{ key.price }}
        td  {{ bal.nb_initial }}
        td  {{ bal.nb_sells }}
        td  {{ bal.nb_current }}

{% trans "Save this deposit state" as deposit_state %}
a(href='{% url "deposit_checkout" deposit.id %}').btn.btn-primary(title="{{ deposit_state }}", value="{{ deposit_state }}", type="submit") {{ deposit_state }}

{% trans "Add copies…" as deposit_add %}
a(href='{% url "deposit_add_copies" deposit.id %}').btn.btn-default(title="{{ deposit_add }}", value="{{ deposit_add }}", type="submit") {{ deposit_add }}

//- {% trans "Delete this deposit" as deposit_delete %}
//- a(href="{% url 'deposit_delete' deposit.id %}").btn.btn-danger(title="{{ deposit_delete }}", value="{{ deposit_delete }}", type="submit", on-click="alert('not implemented!');") {{ deposit_delete }}

{% endblock content %}