// Copyright 2014 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block auto_command_nb %} {{ auto_command_nb }} {% endblock %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load ngfilter %}

h3 {% trans "Inventory started" %}
table.table.table-striped.table-hover
  tr
    td {% trans "Created the" %}
    td {% trans "On the place" %}
    td

  for inv in inventories
    tr
      td {{ inv.created }}
      td {{ inv.place }}
      td
        a(href="{{ inv.id }}")
          button.btn.btn-primary {% trans "Continue" %}
        a(href="{{ inv.id }}/delete")
          button.btn.btn-danger {% trans "Delete" %}

//- a.btn.btn-primary(href="{% url 'inventory_new' %}") {% trans "New..." %}

div(ng-controller="InventoryModalController")
  script(type="text/ng-template", id="modalContent.html")
    div.modal-header
      h3.modal-title {% trans "What place are you doing the inventory of ?" %}

    div.modal-body
      //- div {{ 'items ' | ng }}
      //- div {{ 'item.name ' | ng }}
      form.form-inline
        select.form-control(ng-model="place", ng-options="it.name for it in items", required)
        button.btn.btn-primary(ng-click="ok()") Ok
        button.btn.btn-cancel Cancel

  button.btn.btn-primary(ng-click="open('lg')") {% trans "New" %}

{% endblock content %}
