// Copyright 2014 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load ngfilter %}

h3 {% trans "Inventory ongoing" %}
div(ng-controller="inventoryNewController")
  div {{ 'alerts ' | ng }}
  form(method="get")
    h4 {% trans "Search in the stock" %}
    .row
      .col-md-9
        div remaining: {% verbatim %} {{ total_missing }} {{ progress_current }} % {% endverbatim %}

        div.progress
          div.progress-bar.progress-bar-info(role="progress-bar"
            aria-valuenow="{{ progress_current }}"
            aria-valuemin="0"
            aria-valuemax="100"
            ng-style="progressStyle"
            title="Inventory: {{ progress_current }}% done") {{ 'progress_current ' | ng }}
            span.sr-only {{ 'progress_current ' | ng }}

       .col-md-3
         btn.btn.btn-primary(ng-click="save()") Save

    .row
     .col-lg-9
      p.input-group
          input.nullable.form-control(
            type='text'
            typeahead-loading="loadingCards"
            ng-model='{% verbatim %}copy_selected{% endverbatim %}'
            typeahead='{% verbatim %} copy.repr for copy in getCards($viewValue, card_type_id) {% endverbatim %}'
            typeahead-min-length="3"
            typeahead-on-select="add_selected_card($item)"
            title="{% trans 'Use TAB to validate your choice, Enter to proceed.'%}"
            id="default-input"
          )
          i.glyphicon.glyphicon-refresh.ng-cloak(ng-show='loadingCards')

          span.input-group-btn
            button.btn.btn-default(type='button')
              i.glyphicon.glyphicon-refresh

     .col-lg-3

        input(type="checkbox", ng-model="showAll", ng-change="setCardsToShow()")
        span {% trans "Show all cards inventoried" %}

  h4.ng-cloak(ng-show="cards_to_show.length")
    {{ 'getTotalCopies() ' | ng }} {% trans "titles selected." %}
  div(ng-cloak, ng-show="cards_to_show", ng-repeat="card in cards_to_show.reverse()")
    div
     .col-md-9
      a(href="{{ 'card.details_url ' | ng }}") {{ 'card.title' | ng }}
      span {{ 'card.authors_repr' | ng }}
      i.glyphicon.glyphicon-warning-sign(
        ng-show="{% verbatim %} cards_to_show[$index].ambiguous_sell {% endverbatim %}"
        title="{% trans 'There is a conflict with deposits.' %}")
      i.glyphicon.glyphicon-exclamation-s

     .col-md-2
        p.input-group
            label.sr-only {% trans "Quantity" %}
            span.input-group-addon X
            input.form-control(
                type="number", min=0, max=99
                ng-model="{% verbatim %} cards_to_show[$index].quantity {% endverbatim %}"
                ng-change="{% verbatim %} updateTotalPrice() {% endverbatim %}"
            )

     .col-md-1
       i.glyphicon.glyphicon-remove(ng-click="remove_from_selection($index)", style="float: right;")

{% endblock content %}