// Copyright 2014 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load ngfilter %}

h3 {% trans "Selling cards" %}
div.ng-cloak(ng-controller="sellController")

  div
    alert(
      ng-repeat="alert in alerts"
      type="{{ 'alert.level' | ng }}"
      close="closeAlert($item)"
      ng-click="closeAlert($item)"
    )
      {{ 'alert.message' | ng }}

  form(method='post')

      .row
        .col-md-3
          p.input-group
            input.form-control(
              type='text'
              datepicker-popup='{{format}}'
              ng-model='date'
              is-open='opened'
              datepicker-options='dateOptions'
              ng-required='true'
              close-text='Close'
            )
            span.input-group-btn
              button.btn.btn-default(type='button', ng-click='open($event)')
                i.glyphicon.glyphicon-calendar

        .col-md-9
          p.input-group
            label.sr-only Payment
            select.form-control(
              ng-model="payment"
              ng-options="elt.name for elt in payment_means"
              required
            )

      .row
        .col-md-3
            span.input-group-btn
              label.sr-only Card type
              select.form-control(
                ng-model="card_type"
                ng-options="elt.name group by elt.group for elt in card_types"
                required
              )
        .col-md-9
          p.input-group
            input.nullable.form-control(
              type='text'
              typeahead-loading="loadingCards"
              ng-model='{% verbatim %}copy_selected{% endverbatim %}'
              typeahead='{% verbatim %} copy.repr for copy in getCards($viewValue, card_type_id) {% endverbatim %}'
              typeahead-min-length="3"
              typeahead-on-select="add_selected_card($item)"
              title="{% trans 'Use TAB to validate your choice, Enter to proceed.' %}"
              id="default-input"
            )
            i.glyphicon.glyphicon-refresh(ng-show='loadingCards')

            span.input-group-btn
              button.btn.btn-default(type='button')
                i.glyphicon.glyphicon-refresh

      div
        span {% trans "Look for a" %} {{ 'card_type.name ' | ng }}

      h3(ng-show="cards_selected.length")
        {{ 'getTotalCopies() ' | ng }} {% trans "titles selected. Total:" %} {{ 'total_price ' | ng }}
      div(ng-show="cards_selected", ng-repeat="card in cards_selected")
        h4
          a(target="_blank", href="{{ 'card.get_absolute_url' | ng }}") {{ 'card.title' | ng }}
          span(ng-repeat="auth in card.authors")
            span {{ 'auth.fields.name' | ng }}
          i.glyphicon.glyphicon-warning-sign(
            ng-show="{% verbatim %} cards_selected[$index].ambiguous_sell {% endverbatim %}"
            title="{% trans 'There is a conflict with deposits.' %}")
          i.glyphicon.glyphicon-remove(ng-click="remove_from_selection($index)", style="float: right;")
          i.glyphicon.glyphicon-exclamation-s
        span

        .row
          .col-md-3
            p.input-group
                label.sr-only Prix
                input.form-control(
                  type="number", step="0.1", min=0
                  value="{{ 'card.price_sold' | ng }}"
                  ng-model="{% verbatim %} cards_selected[$index].price_sold {% endverbatim %}"
                  ng-change="{% verbatim %} updateTotalPrice() {% endverbatim %}"
                )
                span.input-group-addon €

          .col-md-3
            p.input-group
                label.sr-only {% trans "Quantity" %}
                span.input-group-addon X
                input.form-control(
                  type="number", min=0, max=99
                  ng-model="{% verbatim %} cards_selected[$index].quantity {% endverbatim %}"
                  ng-change="{% verbatim %} updateTotalPrice() {% endverbatim %}"
                )


      input.btn.btn-primary(id="validateButton", type="submit", value="{% trans 'Validate' %}", ng-click="sellCards()")
      // input.btn.btn-primary(type="submit", value="Valider", ng-submit="sellCards()")
      input.btn.btn(value="{% trans 'Cancel' %}", ng-click="cancelCurrentData()")


{% endblock content %}